
:root {
    --color-main-bgrd: #900;
    --color-main-text: #FFF;

    --sizing-fs-base: 18px;
    --sizing-ws-base: 1.5em;
}

* {
    padding:0;
    margin: 0;
    
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

/*Typography*/

html {
    font: var(--sizing-fs-base)/1.5 "Georgia", serif;
}


p, ul, ol, dl, table {
    margin-bottom: var(--sizing-ws-base);
}

ul, ol {
    padding-left: var(--sizing-ws-base);

}

h1, h2, h3 {
    margin: 0 0 calc( var(--sizing-ws-base) / 3) 0;
}

body {
    background: var(--color-main-bgrd);
    color: var(--color-main-text);
    padding: 5rem;
}